<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.csc567.android.flashstudy">

    <application
        android:name=".FlashStudyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlashStudy">
        <activity android:name=".StudyActivity"></activity>
        <activity android:name=".CourseCreateActivity" />
        <activity android:name=".FlashSetCreateActivity" />
        <activity android:name=".FlashCardCreateActivity" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/actions" />

        <activity android:name=".QuizActivity" />
        <activity android:name=".FlashCardActivity" />
        <activity android:name=".FlashCardSetActivity" />
        <activity android:name=".CourseActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>